extends ./layout/index

block contente
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Inagen sobre notros", class="img-fluid")

            .col-md-7
                 h1 #{pagina}
                 blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis elementum erat. Proin elementum, mauris id cursus blandit, velit eros vulputate eros, sit amet imperdiet tortor odio sit amet odio. Aenean dolor risus, sagittis in metus eget, feugiat vestibulum turpis. Proin neque sem, dictum ac neque eget, malesuada gravida orci. Vestibulum id auctor lectus. Sed commodo fermentum neque, eget semper augue. Sed molestie ac justo quis convallis. 

                 p Cras sit amet leo quis ex scelerisque feugiat. Aliquam sodales tincidunt metus, non tempor tortor feugiat nec. Praesent a tortor vel massa feugiat ultrices. Etiam convallis ligula sed felis viverra, non sodales leo lacinia. Fusce tempus magna hendrerit mauris rutrum iaculis. Cras efficitur egestas libero. Sed tincidunt dui eu dui vehicula congue. Pellentesque vel ligula blandit, tincidunt dolor ac, ullamcorper eros. 

                 p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec eu mi eu ligula interdum suscipit sit amet eget diam. Donec id elit vel mi consectetur facilisis sit amet ullamcorper nunc. Pellentesque quis lacus at nulla lacinia porta. 
        
    .listado-iconos
        .container.mt-5-py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec eu mi eu ligula interdum suscipit sit amet eget diam.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono Destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec eu mi eu ligula interdum suscipit sit amet eget diam.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precio", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec eu mi eu ligula interdum suscipit sit amet eget diam.

                    